@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Start Page Reset */
* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    background-color: none;
}

img {
    cursor: pointer;
    width: 100%;
}

:root {
    /* Colors */
    --white-color: #fff;
    --dark-color: #252525;
    --primary-color: #3b141c;
    --secondary-color: #f3961c;
    --light-pink-color: #faf4f5;
    --medium-grey-color: #ccc;

    /* Font-Size */
    --font-size-s: 0.9rem;
    --font-size-n: 1rem;
    --font-size-m: 1.12rem;
    --font-size-l: 1.5rem;
    --font-size-xl: 2rem;
    --font-size-xxl: 2.3rem;

    /* Font-Weight */
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    /* Border-radius */
    --border-radius-s: 10px;
    --border-radius-m: 30px;
    --border-radius-circle: 50%;

    /* Max-Width */
    --site-max-width: 1300px;

    /* Transition */
    --transition: 0.3s all ease-in-out
}

.section-content {
    margin: 0 auto;
    padding: 0 20px;
    max-width: var(--site-max-width);
}

.section-title {
    text-align: center;
    padding: 60px 0;
    text-transform: uppercase;
    font-size: var(--font-size-xl);
}

.section-title::after {
    content: "";
    width: 80px;
    height: 5px;
    display: block;
    margin: 0 auto;
    border-radius: var(--border-radius-m);
    background-color: var(--secondary-color);

}

/* End Page Reset */
/*************************************************/
/* Start Navbar */
header {
    background-color: var(--primary-color);
    position: fixed;
    width: 100%;
    z-index: 5;
}

header .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

header .navbar h2 {
    font-family: "Miniver", sans-serif;
}

.navbar .nav-logo .logo-text {
    color: var(--white-color);
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-semibold);
}

.navbar .nav-menu {
    display: flex;
    gap: 10px;
}

.navbar .nav-menu .nav-link {
    padding: 10px 18px;
    color: var(--white-color);
    border-radius: var(--border-radius-m);
    font-size: var(--font-size-m);
    transition: var(--transition);
}

.navbar .nav-menu .nav-link:hover {
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

.navbar :where(#menu-close-button, #menu-open-button) {
    display: none;
}

/* End Navbar */
/*************************************************/
/* Start home */
.home-section {
    background-color: var(--primary-color);
    min-height: 100vh;
}

.home-section .section-content {
    display: flex;
    align-items: center;
    min-height: 100vh;
    color: var(--white-color);
    justify-content: space-between;
}

.home-section .home-details .title {
    font-size: var(--font-size-xxl);
    color: var(--secondary-color);
    font-family: "Miniver", sans-serif;
}

.home-section .home-details .subtitle {
    font-size: var(--font-size-xl);
    max-width: 70%;
    font-weight: var(--font-weight-semibold);
    margin-top: 8px;
}

.home-section .home-details .description {
    font-size: var(--font-size-m);
    max-width: 70%;
    margin: 24px 0 40px;
}

.home-section .home-details .buttons {
    display: flex;
    gap: 20px;
}

.home-section .home-details .button {
    padding: 10px 26px;
    color: var(--primary-color);
    border-radius: var(--border-radius-m);
    background-color: var(--secondary-color);
    font-weight: var(--font-weight-medium);
    border: 2px solid transparent;
    transition: var(--transition);
}

.home-section .home-details .button:hover,
.home-section .home-details .contact-us {
    color: var(--white-color);
    border-color: var(--white-color);
    background-color: transparent;
}

.home-section .home-details .contact-us:hover {
    color: var(--primary-color);
    border-color: var(--secondary-color);
    background-color: var(--secondary-color);
}

.home-section .home-image-wrapper {
    max-width: 50%;
    margin-right: 30px;
    transform: scaleX(-1)
}

/* End home */
/*************************************************/
/* Start About */
.about-section {
    padding: 140px 0;
    background-color: var(--light-pink-color);
}

.about-section .section-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-section .about-image-wrapper .about-image {
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: var(--border-radius-circle);
    transition: var(--transition);

}

.about-section .about-image-wrapper .about-image:hover {
    transform: scale(0.8);
}

.about-section .about-details {
    max-width: 50%;
}

.about-section .about-details .section-title {
    padding: 0;
}

.about-section .about-details .text {
    line-height: 30px;
    margin: 50px 0 30px;
    text-align: center;
    font-size: var(--font-size-m);
}

.about-section .about-details .social-link-list {
    display: flex;
    gap: 25px;
    justify-content: center;
}

.about-section .about-details .social-link-list .social-link {
    color: var(--primary-color);
    font-size: var(--font-size-l);
    transition: var(--transition);

}

.about-section .about-details .social-link-list .social-link:hover {
    color: var(--secondary-color);
    transform: scale(1.3);
}

/* End About */

/*************************************************/
/* Start Menu */
.menu-section {
    color: var(--white-color);
    background-color: var(--dark-color);
    padding: 50px 0 100px;
}

.menu-section .menu-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 100px;
    justify-content: space-between;
}

.menu-section .menu-list .menu-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: calc(100%/3 - 100px);
    justify-content: space-between;
    text-align: center;
    overflow: hidden;
}

.menu-section .menu-list .menu-item .menu-image {
    max-width: 85%;
    aspect-ratio: 1;
    margin-bottom: 15px;
    object-fit: contain;
}

.menu-section .menu-list .menu-item .name {
    margin: 12px 0;
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-normal);
}

.menu-section .menu-list .menu-item .text {
    font-size: var(--font-weight-medium);

}

/* End Menu */
/*************************************************/
/* Responsive Query Css Code Max Width 1024px */
@media screen and (max-width:1024px) {
    .menu-section .menu-list {
        gap: 50px;
    }

    .menu-section .menu-list .menu-item {
        width: calc(100%/3 - 50px);
    }
}

/* Responsive Query Css Code Max Width 900px */
@media screen and (max-width:900px) {
    :root {
        --font-size-m: 1.rem;
        --font-size-l: 1.3rem;
        --font-size-xl: 1.5rem;
        --font-size-xxl: 1.8rem;
    }

    .show-mobile-menu .overlay {
        content: "";
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        backdrop-filter: blur(5px);
        background-color: rgba(0, 0, 0, 0.2);

    }

    .navbar :where(#menu-close-button, #menu-open-button) {
        display: block;
        font-size: var(--font-size-l);
    }

    .navbar #menu-close-button {
        position: absolute;
        right: 40px;
        top: 20px;

    }

    .navbar #menu-open-button {
        color: var(--white-color);
        background-color: transparent;

    }

    .navbar .nav-menu {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: var(--white-color);
        position: fixed;
        left: 0;
        top: -400px;
        width: 100%;
        height: 400px;
        transition: top 0.7s ease;
    }

    body.show-mobile-menu .navbar .nav-menu {
        top: 0px;
    }

    .navbar .nav-menu .nav-link {
        color: var(--dark-color);
        font-size: var(--font-size-m);
        font-weight: var(--font-weight-semibold);
    }

    .about-section .section-content {
        flex-direction: column-reverse;
        gap: 70px;
    }

    .about-section .about-image-wrapper .about-image {
        width: 100%;
        height: 100%;
        max-width: 400px;
        aspect-ratio: 1;
    }

    .about-section .about-details {
        max-width: 100%;
    }

    .menu-section .menu-list {
        gap: 50px;
    }

    .menu-section .menu-list .menu-item {
        width: calc(100%/2 - 50px);
    }

}

/* Responsive Query Css Code Max Width 725px */
@media screen and (max-width:725px) {
    .home-section .section-content {
        flex-direction: column-reverse;
        justify-content: center;
        gap: 50px;
        text-align: center;
        padding: 30px 20px 20px;
    }

    .home-section .home-details :is(.subtitle, .description) {
        max-width: 100%;
    }

    .home-section .home-details .buttons {
        justify-content: center;
    }

    .home-section .home-image-wrapper {
        max-width: 70%;
        margin-right: 0;
    }

    .menu-section .menu-list {
        gap: 30px;
    }

    .menu-section .menu-list .menu-item {
        width: calc(100%/2 - 30px);
    }

    .menu-section .menu-list .menu-item.menu-image {
        max-width: 200px;
    }
}

/* Responsive Query Css Code Max Width 650px */
@media screen and (max-width:650px) {
    .menu-section .menu-list {
        gap: 60px;
    }

    .menu-section .menu-list .menu-item {
        width: 100%;
    }

    .menu-section .menu-list .menu-item .menu-image {
        margin-bottom: 5px;
    }
}

/* End home */